<% content_for :title, t('users.title') %>
<% content_for :subtitle, t('crud.edit.change_password.title_email', email: @net_user.email) %>

<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert" id="notice">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
</div>
<% end %>

<%= form_for(@net_user, url: net_user_path) do |f| %>
    <%= f.hidden_field :id %>
    <% if @net_user.errors.any? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
          <h4><%= t('crud.error.with_count.title', error_count: @net_user.errors.count) %>:</h4>
          <ul>
            <% @net_user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control', placeholder: t('activerecord.attributes.user.password') %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: t('activerecord.attributes.user.password_confirmation') %>
    </div>

    <div class="form-group">
      <div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12" role="group">
        <%= link_to net_user_path(@net_user), class: 'btn btn-warning col-xs-12 col-sm-6 col-md-6 col-lg-6' do %>
            <i class="fa fa-level-up"></i>
            <%= t('common_words.go_back') %>
        <% end %>
        <button type="submit" class="btn btn-success col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <i class="fa fa-key"></i>
          <%= t('activerecord.attributes.user.change_password') %>
        </button>
      </div>
    </div>
<% end %>
