<div class="side-menu sidebar-inverse">
  <nav class="navbar navbar-default" role="navigation">
    <div class="side-menu-container">
      <div class="navbar-header">
        <%= link_to net_dashboard_index_path, class: 'navbar-brand' do %>
            <span class="icon jebri-logo-mini"></span>
            <span class="title jebri-logo"></span>
        <% end %>
        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
          <i class="fa fa-times icon"></i>
        </button>
      </div>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(net_dashboard_index_path) %>">
          <%= link_to net_dashboard_index_path, class: 'navbar-brand' do %>
              <span class="icon fa fa-tachometer"></span>
              <span class="title">Dashboard</span>
          <% end %>
        </li>
        <li class="panel panel-default dropdown <%= 'active' if current_page?(net_user_path(current_user.id)) || current_page?(change_password_net_users_path(current_user.id)) %>">
          <a data-toggle="collapse" href="#dropdown-profile">
            <i class="icon fa fa-user" aria-hidden="true"></i>
            <span class="title"><%= t('my_profile.title') %></span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-profile" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to 'Ver Mi Perfil', net_user_path(current_user.id) %>
                </li>
                <li>
                  <%= link_to 'Cambiar mi Contraseña', change_password_net_users_path(current_user.id) %>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="panel panel-default dropdown <%= 'active' if current_page?(net_user_path(current_user.id)) || current_page?(change_password_net_users_path(current_user.id)) %>">
          <a data-toggle="collapse" href="#dropdown-states">
            <i class="icon fa fa-globe" aria-hidden="true"></i>
            <span class="title"><%= t('states.title') %></span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-states" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to t('states.title'), net_states_path %>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="<%= 'active' if current_page?(net_commerces_path) %>">
          <%= link_to net_commerces_path, class: 'navbar-brand' do %>
            <span class="icon fa fa-building"></span>
            <span class="title"><%= t('commerces.title') %></span>
          <% end %>
        </li>
        <li class="panel panel-default dropdown <%= 'active' if current_page?(net_product_families_path) || current_page?(net_products_path) %>">
          <a data-toggle="collapse" href="#dropdown-products">
            <i class="icon fa fa-puzzle-piece" aria-hidden="true"></i>
            <span class="title"><%= t('products.title') %></span>
          </a>
          <!-- Dropdown level 1 -->
          <div id="dropdown-products" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to 'Ver Familias', net_product_families_path %>
                </li>
                <li>
                  <%= link_to 'Ver Productos', net_products_path %>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="<%= 'active' if current_page?(net_users_path) %>">
          <%= link_to net_users_path, class: 'navbar-brand' do %>
              <span class="icon fa fa-users"></span>
              <span class="title"><%= t('users.title') %></span>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</div>